.featured-cards {
  margin-bottom: 100px;

  .container {
    max-width: 1236px;

    .featured-card {
      max-width: 282px;

      img {
        margin-bottom: 30px;
        transition: .5s ease all;
        &:hover {
          transform: scale(.9);
          cursor: pointer;
      }
    }

      &:nth-child(3) .price,
      &:nth-child(4) .price,
      &:nth-child(5) .price {
        padding: 10px 20px;
      }

      .featured-like-btn {
        top: 26px;
        right: 20px;
        max-width: 32px;
        max-height: 32px;
        background-color:var(--color-3);
        padding: 10px 9px 9px 8px;
        border-radius: 100px;

       img {
        margin: 0;
       }
      }
    }

    .featured-cards-wrapper {
      gap: 20px;

      @media (max-width: 1024px) {
        align-items: center;
        justify-content: center;
      }
    }

    .featured-card-details {
      p {
        color: var(--color-1);
        font-family: Causten-Semibold;
        margin-bottom: 5px;
        line-height: 1.2;
      }

      span {
        color: var(--color-2);
        font-family: Causten-Medium;
        line-height: 1.1;
      }
    }

    .price {
      max-width: 82px;
      padding: 10px 16px;
      font-family: Causten-Bold;
      color: var(--color-1);
      background-color: var(--color-4);
      line-height: 1.2;
      border-radius: 8px;
    }
  }
}