.featured-brands {
  margin-bottom: 76px;

  @media (max-width: 1300px) {
    padding: 0 20px;
  }

  &__wrapper {
    margin-top: 67px;
    gap: 24px;

    @media (max-width: 1024px) {
      align-items: center;
      justify-content: center;
    }
  }

  .container {
    background-color: var(--color-1);
    max-width: 1233px;
    padding: 43px 124px 60px 122px;
    border-radius: 12px;

    
    @media (max-width: 767px) {
      padding: 40px 50px;
    }

    h2 {
      color: var(--color-3);
      font-size: 50px;
      max-width: 409px;
      line-height: 0.9;
      margin-bottom: 25px;

      @media (max-width: 767px) {
        font-size: 34px;
      }
    }

    p {
      color: var(--color-3);
      font-size: 22px;
      line-height: 1.2;

      span {
        color: var(--color-9);
        font-family: Causten-Regular;
      }
    }
  }
}