.img-w-text {
  margin-bottom: 100px;

  .container {
    @media (max-width: 1110px) {
      display: flex;
      flex-direction: column-reverse
    }
  }

  &__wrapper {
    @media (max-width: 1110px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #000000B2;
      z-index: 1;
    }
  }

  &__bg {
    height: 100%;
  }

  &__details {
    padding: 183px 74px 174px 74px;
    z-index: 2;

    @media (max-width: 1110px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 767px) {
      padding: 120px 30px;
      
    }

    h2 {
      font-family: CoreSans-ExtraBold;
      line-height: 1.4;
      max-width: 466px;
      color: var(--color-3);
      margin-bottom: 30px;

      @media (max-width: 1120px) {
        text-align: center;
      }

      @media (max-width: 767px) {
        text-align: center;
        font-size: 24px;
      }
    }

    p {
      font-family: Causten-light;
      color: var(--color-3);
      font-size: 20px;
      line-height: 1.2;
      max-width: 451px;
      margin-bottom: 50px;
      letter-spacing: 1px;

      @media (max-width: 1110px) {
        text-align: center;
      }
    }
    
    a {
      max-width: 168px;
      display: block;
      font-family: Causten-SemiBold;
      padding: 12px 44px;
      background-color: var(--color-3);
      color: var(--color-1);
      border-radius: 8px;
      transition: all 0.5s;

      &:hover {
        background-color: var(--color-1);
        color: var(--color-3);
        cursor: pointer;
      }
    }
  }

  &__img {
    max-width: 626px;
    width: 100%;
    object-fit: cover;

    @media (max-width: 1110px) {
      max-width: unset;
    }
  }
}