.men-categories {
  margin-bottom: 100px;

  &__wrapper {
    gap: 50px;

    @media (max-width: 1323px) {
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  &__category {
    max-width: 270px;

    img {
      margin-bottom: 15px;
      transition: .5s ease all;

      &:hover {
        transform: scale(.9);
        cursor: pointer;
      }
    }

    a {
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: translateX(5px);
        cursor: pointer;
      }
    }
  }

  &__details {
    p {
      font-size: 17px;
      color: var(--color-6);
      margin-bottom: 4px;
      line-height: 1.5;
      letter-spacing: −0.68px;
    }

    span {
      color: var(--color-7);
      font-size: 13px; 
      letter-spacing: −0.52px;
    }
  }
}