.mySwiper4 {
  width: 100%;  
}

.mySwiper5 {
  height: 400px;
  box-sizing: border-box;
  padding: 10px 0;

  &.swiper {
    overflow: visible;
  }
  
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0;
    max-height: 257px;
  }

  .swiper-slide {
    width: 75px;
    height: 75px;
    height: 100%;
    opacity: 0.4;
    border-radius: 12px;

    .swiper-slide-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 68px;
      height: 68px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  /* .swiper-slide-thumb-active,
  .swiper-button-active {
    opacity: 1;
    border: 1px solid #3C4242;
    padding: 3px 3px 3px 4px;
  } */

  .swiper-slide-active {
    /* background-color:yellow; */
    border: 2px solid red;
  }

   .swiper-slide-thumb-active {
    background-color: gold;
    border: 2px soli;
  }

  .swiper-slide  {
    display: block;
    width: 68px;
    height : 68px;
    max-height: 68px;
    object-fit: cover;
    border-radius: 10px;
  }

  .swiper-buttons {
    position: relative;
    display: flex;
    gap: 12px;
    margin-top: 24px;
    
    .swiper-button-next,
    .swiper-button-prev {
     position: static;
     display: flex;
     align-items: center;
     justify-content: center;  
     padding:8px 6px 7px 6px;
     margin-top: 0;
    }
  
    .swiper-button-next {
      background-color: var(--color-3);
      width: 27px;
      height: 27px;
      border-radius: 100%;
      box-shadow: 0.76px 0.76px 3.02px 0px #0000000A;
    }
    
    .swiper-button-prev {
      background-color: var(--color-1);
      width: 27px;
      height: 27px;
      border-radius: 100%;
    }
    
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
      content: "";
    }
    
    .swiper-button-prev:after, .swiper-button-next:after {
      content: "";
    }
  }
}

.product {
  gap: 70px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px 0 111px;
  margin-bottom: 100px;

  @media (max-width: 1030px) {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
  }

  &__container {
    max-width: 628px;
    width: calc(60% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    margin: 0;

    @media (max-width: 1024px ) {
      width: 100%;
    }
  }

  &__details {
    padding-top: 30px;
    width: calc(48.5% - 50px);

    @media (max-width: 1024px ) {
      width: 100%;
    }

    h1 {
      font-size: 34px;
      color: var(--color-1);
      font-family: CoreSans-SemiBold;
      max-width: 393px;
      margin-bottom: 35px;
      line-height: 1.3;

      @media (max-width: 1024px) {
        max-width: unset;
      }
    }
  }

  &__breadcrumbs {
    gap: 15px;
    margin-bottom: 35px;

    a {
      text-decoration: none;
      gap: 15px;

      span {
        color: var(--color-2);
        font-family: Causten-Medium;
        font-size: 18px;
        line-height: 1.1;

        &:hover {
          color: var(--color-6);
        }
      }
    }
  }

  &__ratings {
    gap: 25px;
    max-width: 359px;
    margin-bottom: 35px;

    span {
      gap: 15px;
      
      p {
        color: var(--color-2);
        font-family: Causten-Medium;
        font-size: 18px;
        line-height: 1.1;
      }
    }
  }

  &__size {
    margin-bottom: 35px;

    &-option {
      gap: 20px;
      margin-bottom: 25px;

      p {
        font-family: Causten-SemiBold;
        color: var(--color-26);
        font-size: 18px;
        line-height: 1.1;
      }

      span {
        gap: 15px;

        p {
          font-family: Causten-Medium;
          color: var(--color-28);
        }
      }
    }

    &-wrapper {
      gap: 20px;
      max-width: 290px;
    }

    &-sizes {
      label { 
        font-size: 14px;
        line-height: 1.2;
        font-family: Causten-Medium;
        color: var(--color-1);
        width: 38px;
        height: 38px;
        border-radius: 12px;
        border: 1px solid var(--color-27);
      }

      input[type="radio"]:checked+label {
        background-color: var(--color-1);
        color: var(--color-3);
      }
    }
  }

  &__colors {
    max-width: 156px;
    margin-bottom: 35px;

    span {
      color: var(--color-26);
      display: block;
      font-family:Causten-Semibold;
      font-size: 18px;
      margin-bottom: 25px;
    }

    &-wrapper {
      max-width: 156px;
      gap: 20px;
    }
  }

  &__color {
    position: relative;
    border: 1px solid transparent;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    transition: border-color 0.3s;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      border-radius: 50px;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      border: 1px solid transparent;
    }
  }

  &__btn {
    max-width: 362px;
    gap: 25px;
    margin-bottom: 37px;

    @media (max-width: 767px) {
      justify-content: space-between;
      max-width: unset;
    }
    
    span {
      font-family: Causten-Semibold;
      font-size: 18px;
      line-height: 1.1;
      text-decoration: none;
    }

    &-cart {
      background-color: var(--color-14);
      max-width: 199px;
      color: var(--color-3);
      padding: 12px 0;
      border-radius: 8px;
      transition: all 0.4s;
      gap: 12px;

      &:hover {
        background-color: #a56afc;
      }
    }

    &-price {
      padding: 12px 0;
      border: 1px solid var(--color-1);
      color: var(--color-1);
      max-width: 138px;
      border-radius: 8px;
      transition: all 0.4s;

      &:hover {
        background-color: var(--color-1);
        color: var(--color-3);
      }
    }
  }

  &__features {
    max-width: 540px;
    grid-gap: 20px 68px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    border-top: 1px solid #BEBCBD;
    padding-top: 40px;

    @media (max-width: 1024px) {
      max-width: 100%;
    }

    @media (max-width: 767px) {
      max-width: unset;
      grid-gap: 20px;
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  &__feature {
    gap: 15px;


    &:nth-child(4) {
      width: 100%;
      max-width: 246px;
    }

    &-img {
      background-color: var(--color-4);
      width: 44px;
      height: 44px;
      border-radius: 100%;
    }

    div {
      white-space: nowrap;
      color: var(--color-1);
      font-family: Causten-Medium;
      font-size: 18px;
      line-height: 1.1;
    }
  }
}
