.sidebar-nav {
  max-width: 295px;
  border: 1px solid var(--color-10);

  .filter-wrapper {
    /* max-width: 234px; */
    padding: 20px 30px;
    border-bottom: 1px solid var(--color-10);

    span {
      font-family: Causten-Medium;
      color: var(--color-2);
      font-size: 22px;
      line-height: 1.2;
    }
  }

  .accordian-block {
    padding: 40px 32px;
    gap: 18px;
    border-bottom: 1px solid var(--color-10);

    .accordian-item {
      max-width: 230px;

      p {
        font-family: Causten-Medium;
        color: var(--color-12);
        line-height: 1.2;
      }
    }
  }
}