.sidebar-nav {
  width: 100%;
  max-width: 295px;
  border: 1px solid var(--color-10);

  @media (max-width: 1024px) {
    max-width: unset;
  }

  &__wrapper {
    /* max-width: 234px; */
    padding: 20px 30px;
    border-bottom: 1px solid var(--color-10);

    span {
      font-family: Causten-Medium;
      color: var(--color-2);
      font-size: 22px;
      line-height: 1.2;
    }
  }

  &__aside {
    @media (max-width: 1024px) {
      display: none;
    }

    &--active {
      display: block;
    }
  }

  &__accordian {
    padding: 40px 32px;
    gap: 18px;
    border-bottom: 1px solid var(--color-10);

    &-item {
      /* max-width: 230px; */

      @media (max-width: 1024px) {
        max-width: unset;
      }

      p {
        font-family: Causten-Medium;
        color: var(--color-12);
        line-height: 1.2;
      }
    }
  }

  &__slider {
    padding: 40px 31px;
  }

  &__colors {
    max-width: 218px;
    margin: 0 auto;
    padding: 40px 0;
    gap: 19px 18px;

    @media (max-width: 1024px) {
      max-width: unset;
      padding: 40px;
      justify-content: space-between;
      align-items: center;
    }

    @media (max-width: 767px) {
      justify-content: flex-start;
    }
  }

  &__color {
    flex: 1 1 33%;
    max-width: 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;

    div {
      width: 36px;
      height: 36px;
      border-radius: 12px;
    }

    &:nth-child(1) div {
      background-color: var(--color-14);
    }

    &:nth-child(2) div {
      background-color: var(--color-15);
    }

    &:nth-child(3) div {
      background-color: var(--color-16);
    }

    &:nth-child(4) div {
      background-color: var(--color-17);
    }

    &:nth-child(5) div {
      background-color: var(--color-18);
    }

    &:nth-child(6) div {
      background-color: var(--color-3);
      border: 1px solid var(--color-25);
    }

    &:nth-child(7) div {
      background-color: var(--color-19);
    }

    &:nth-child(8) div {
      background-color: var(--color-20);
    }

    &:nth-child(9) div {
      background-color: var(--color-21);
    }

    &:nth-child(10) div {
      background-color: var(--color-22);
    }

    &:nth-child(11) div {
      background-color: var(--color-23);
    }

    &:nth-child(12) div {
      background-color: var(--color-24);
    }

    span {
      display: block;
      font-family: Causten-Medium;
      color: var(--color-12);
      line-height: 1.2;
    }
  }

  &__size {
    max-width: 223px;
    padding: 40px 0;
    margin: 0 auto;
    gap: 20px 18px;

    @media (max-width: 1024px) {
      max-width: unset;
      padding: 40px;
      justify-content: space-between;
      align-items: center;
    }

    @media (max-width: 767px) {
      justify-content: center;
      padding: 20px;
    }

    span {
      font-family: Causten-Medium;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 61px;
      height: 32px;
      border: 1px solid var(--color-10);
      color: var(--color-1);
      border-radius: 8px;
      line-height: 1.2;
    }
  }
}
