.testimonials {
  margin-bottom: 100px;
  
  .container {
    max-width: 1237px;
  }

  &__details {
    max-width: 396px;
    border: 1px solid var(--color-10);
    padding: 23px 23.19px;
    border-radius: 10px;
    height: 292px;
    max-height: 100%;

    @media (max-width: 1024px) {
      max-width: unset;
    }

    h4 {
      color: var(--color-1);
      font-family: CoreSans-Medium;
      margin-bottom: 20px;
      letter-spacing: 0.44px;
    }

    p {
      font-family: Causten-Regular;
      width: 100%;
      max-width: 350px;
      color: var(--color-2);
      line-height: 1.2;
      max-width: 100%;
    }
  }

  &__header {
    max-width: 350px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      max-width: unset;
    }
  }

  &__client {
    max-width: 57px;
  }
  
  .swiper-pagination.swiper-pagination-clickable  {
    bottom: -26px;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-1);
  }
}