.women-categories {
  margin-bottom: 100px;
  
  &__wrapper {
    gap: 20px;

    @media (max-width: 1182px) {
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 1110px) {
      align-items: center;
      justify-content: center;
    }
  }

  &__category {
    max-width: 270px;

    img {
      max-width: 270px;
      margin-bottom: 15px;
      transition: .5s ease all;

      &:hover {
        transform: scale(.9);
        cursor: pointer;
      }
    }
  }

  &__details {
    font-family: "Poppins", sans-serif;

    p {
      font-weight: 500;
      color: var(--color-8);
      max-width: 179px;
      font-size: 17px;
      line-height: 1.5;
      letter-spacing: -0.52px;
      margin-bottom: 3px;
    }

    span {
      font-weight: 500;
      color: var(--color-7);
      font-size: 13px;
      line-height: 2;
    }

    a {
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: translateX(5px);
        cursor: pointer;
      }
    }
  }
}