:root {
  --color-1 : #3C4242;
  --color-2 : #807D7E;
  --color-3 : #FFFFFF;
  --color-4 : #F6F6F6;
  --color-5 : #8A33FD;
  --color-6 : #2A2F2F;
  --color-7 : #7F7F7F;
  --color-8 : #191919;
  --color-9 : #FBD103;
  --color-10 : #BEBCBD;
  --color-11 : #ffffffe6;
  --color-12 : #8A8989;
  --color-13 : #00000066; 
  --color-14 : #8A33FD;
  --color-15 : #252525;
  --color-16 : #F35528;
  --color-17 : #F16F2B;
  --color-18 : #345EFF;
  --color-19 : #D67E3B;
  --color-20 : #48BC4E;
  --color-21 : #FDC761;
  --color-22 : #E4E5E8;
  --color-23 : #E08D9D;
  --color-24 : #3FDEFF;
  --color-25 : #F4F1F1;
  --color-26 : #3F4646;
  --color-27 : #BEBCBD;
  --color-28 : #807D7E;
}
