h1 {
  font-family: CoreSans-ExtraBold;
  font-size: 78px;
  /* font-size: clamp(15px, 5vw, 78px); */
  line-height: 1.1;
}

h2 {
  font-family: CoreSans-ExtraBold;
  font-size: 34px;
  line-height: 1.3;
}

h3 {
  font-family: CoreSans-ExtraBold;
  font-size: 28px;
  line-height: 1.3;
} 

h4 {
  font-size: 22px;
  line-height: 1;
}

.heading-right-border {
    position: relative;
    left: 20px;
    font-size: 34px;
    line-height: 1.3;
    max-width: 440px;
    color: var(--color-1);
    font-family: CoreSans-Bold;
    margin-bottom: 70px;

    @media (max-width: 767px) {
      font-size: 28px;
    }

    &::before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 9px;
    top: 5px;
    background-color: var(--color-5);
    width: 6px;
    border-radius: 10px;
  }
}